<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="directoryApp" ng-controller="ListingsController">
    
    <div class="grid-container">
      <div class="item1">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="number" placeholder="Amount" aria-label="Search" ng-model="deposit">
          <button class="btn btn-outline-success my-2 my-sm-0" ng-click="depositMoney(deposit)">Deposit</button>
        </form>
        <div>
          Current Balance: ${{balance}}
        </div>
      </div>
      <div class="item2">
        <h2>Calendar</h2>
        <iframe src="https://calendar.google.com/calendar/embed?src=vedant.a.daga%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="item3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Task</th>
              <th scope="col">Deadline</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="listing in listings">
              <th scope="row">
                <button type="button" class="btn btn-secondary" ng-click="deleteListing(listing._id)">Finished</button>
              </th>
              <td>{{listing.name}}</td>
              <td>{{listing.deadline}}</td>
              <td>{{listing.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>  
      <div class="item5">    
        <form novalidate class="simple-form">
          <h2>New Task</h2>
          Task Name: <input type="text" ng-model="newListing.name" /><br /> <!-- ng-model stores input data into the "newListing"--> 
          Deadline: <input type="date" ng-model="newListing.deadline" /><br />
          Set Amount: <input type="number" ng-model="newListing.amount" /><br />
          
        </form>

      <button class="btn btn-secondary" ng-click="addListing()">Enter</button>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>
  </body>
</html>